<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/web/style.min.css">
</head>
<body>
  <nav>
    <a class="brand" href="/">premonition.js</a>
    <div class="menu">
      <a href="/demo">Demo</a>
      <a href="https://github.com/franciscop/premonition">Github</a>
    </div>
  </nav>

  <article>
    <a href="/demo/">All Articles</a>
    {{{body}}}
    {{> readnext}}
  </article>
  Hello
  <script src="/index.min.js" data-pre-once></script>
  <script type="text/javascript">
    console.log('NO PARSING NEEDED');
  </script>
</body>
</html>
