<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>premonition.js</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-okaidia.min.css">
  <link rel="stylesheet" href="/web/style.min.css">
</head>
<body>
  <nav>
    <a class="brand" href="/">premonition.js</a>
    <div class="menu">
      <a href="/demo">Demo</a>
      <a href="">World</a>
    </div>
  </nav>

  <article>
    {{{body}}}
  </article>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-javascript.min.js"></script>
  <script src="/index.min.js" data-pre-once></script>
</body>
</html>
