@import '../node_modules/picnic/src/picnic';

$spacing: 50px;
$width: 900px;

body {
  background: #f12711;
  background: linear-gradient(135deg, #f12711aa, #f5af19aa);
  background-attachment: fixed;
  background-size: cover;
}

nav {
  padding: 0 calc(50% - #{$width / 2});

  .brand, .menu {
    padding: $spacing / 2;
  }
}

main,
article {
  background: #fff;
  padding: $spacing;
  max-width: 900px;
  margin: 120px auto;

  h1 {
    margin: 0;
    padding: 0;
  }

  h2, h3 {
    padding: 1.5em 0 0;
  }

  p {
    margin: .6em 0;
  }


  .flex {
    a {
      display: block;
    }
    h2, h3 {
      margin: 0;
      padding: 0;
    }
  }

  [data-pre-cached]::after {
    content: 'cached!';
    position: absolute;
    font-size: 0.6em;
    margin-left: 5px;
    margin-top: 3px;
    background: #f12711aa;
    border-radius: 3px;
    padding: 2px 5px;
    vertical-align: middle;
    color: #fff;
  }
}
